@font-face {
	font-family: Raleway;
	src: url(Raleway-Regular.ttf);
}

@font-face {
	font-family: Open Sans;
	src: url(2211.ttf);
}

@font-face {
	font-family: Bringin;
	src: url(9108.otf);	
}

@font-face {
	font-family: Roboto Black;
	src: url(Roboto-Black.ttf);	
}

@font-face {
	font-family: Roboto Light;
	src: url(Roboto-Light.ttf);	
}

#journal {
	height: 1065px; /* 1065 */
	width: 100%;
	box-sizing: border-box;
	padding-top: 65px;
}

.bigTopTextHead {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding-top: 25px;
	background-image: url(waves.png);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	padding-bottom: 65px;
	font: 2.5em Open Sans;
	text-align: center;
}

#ltw {
	height: 760px; /* 760 */
	width: 90%;
	max-width: 1140px;
	box-sizing: border-box;
	box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 1);
	margin: auto;
}

#ltw .packPhoto {
	height: 100%; /* 380 */
	width: 50%;
	box-sizing: border-box;
	float: left;
	background-position: center;
	background-size: cover;
}

#ltw .textBlock {
	height: 100%; /* 380 */
	width: 50%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 0 20px 0 20px;
}

#ltw > #pack3 .textBlock {
	width: 100%;
	height: 50%;
}

#ltw > #pack3 .packPhoto {
	width: 100%;
	height: 50%;
}

#ltw  #pack1 .packPhoto {
	background-image: url(journal1.jpg);
}

#ltw  #pack2 .packPhoto {
	background-image: url(journal2.jpg);
}

#ltw  #pack3 .packPhoto {
	background-image: url(journal3.jpg);
}

#ltw  #pack1, #pack2 {
	float: left;
	width: 66.6666%;
	height: 380px;
}

#ltw #pack3 {
	width: 33.3333%;
	height: 760px;
	display: inline-block;
}

#ltw .pack {
	transition: 0.2s;
	display: inline-block;
}


#ltw span {
	text-align: center;
	display: inline-block;
}

#ltw span.desc {
	font: 0.9166em Open Sans;
	color: #16b5ef;
	padding-top: 40px;
}

#ltw span.head {
	font: 1.3458em Open Sans;
	color: black;
	padding-top: 2em;
}

#ltw span.text {
	font: 1.1666em Open Sans;
	color: #777777;
}

#offer {
	height: 651px;
	width: 100%;
	background-image: url(backgOffer.jpg);
	background-size: auto 651px;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding-top: 142px;
}

#offer .text {
	background-image: url(waves.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 25px;
	width: 36.4583%;
	min-width: 200px;
}

#offer span.upText {
	font: 1.5em Open Sans;
	color: black;
	padding-bottom: 25px;
	display: inline-block;
}

#offer span.downText {
	font: 1em Open Sans;
	color: #949494;
	display: inline-block;
	padding-bottom: 30px;
}

#offer .form {
	width: 100%;
	height: 60px;
	background-color: white;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
}

#offer .cont {
	width: 80%;
	margin: auto;
}

#offer input[type='text'], #offer input[type='tel'] {
	box-sizing: border-box;
	height: 40px;
	width: 34.8837%;
	border: 0;
	font-size: 1.3333em;
	padding: 0 5px 0 10px;
	float: left;
}

#offer input[type='text'] {
	border-right: 1px solid #BBBBBB;
}

#offer button {
	display: block;
	height: 55px;
	width: 26.1627%;
	background-color: #36aeea;
	border-radius: 4px;
	border: 0;
	/* padding-right: 4px; */
	float: right;
	color: white;
	font: 16pt Open Sans;
	box-sizing: border-box;
	/* padding-top: 0px;
	padding-left: 45px; */
	text-align: center;
	margin: -7px -7px 0 0;
	min-width: 200px;
}

#offer .transfer {
	height: 20px;
	background-image: url(lock.png);
	background-repeat: no-repeat;
	background-position: left center;
	box-sizing: border-box;
	padding-left: 16px;
	color: #36aeea;
	font-family: Open Sans;
	margin-top: 6px;
}

#work {
	height: 650px;
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding-top: 65px;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

/* @media screen and (min-width: 1600px) {
	#blog {
		padding-left: 20.4166%;
	}
} */

#work .horLine {
	float: left;
	width: 850px;
	background-image: url(lineH.png);
	background-repeat: repeat-x;
	position: relative;
	height: 2px;
	top: 27px;
	left: 75px;
	z-index: -1;
}

#work .scheme {
	box-sizing: border-box;
	width: 1024px;
	height: 406px;
	margin: 0 auto 0 auto;
}

#work .scheme .cell {
	width: 199px;
	height: 100%;
	float: left;
	margin-left: 34px;
	margin-right: 34px;
}

#work .scheme #first {
	margin-left: 0;
}

#work .scheme .cell:last-child {
	margin-right: 0;
	float: left;
}

#work .scheme .lines {
	background-image: url(lineV.png);
	background-repeat: repeat-y;
	background-position: center top;
}

#work .scheme .cell .topRing {
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	border: solid 3px;
	border-color: #36aeea;
	border-radius: 48px;
	margin: 0 auto 0 auto;
	text-align: center;
	font: 1.3333em Open Sans;
	color: #36aeea;
	padding-top: 5px;
	background-color: white;
}

#work .scheme .cell .bottomRing {
	width: 180px;
	height: 180px;
	box-sizing: border-box;
	background-color: #f0f3f6;
	border-radius: 100%;
	margin: 0 auto 0 auto;
	margin-top: 58px;
	background-repeat: no-repeat;
	background-position: center center;
}

/* #work .scheme .cell .bottomRing:hover {
	box-shadow: 0px 0px 28px 0 rgba(255, 0, 0, 1);
} */

#work .scheme .cell > .text {
	box-sizing: border-box;
	margin: 0 auto 0 auto;
	margin-top: 20px;
	font: 1em Roboto Light;
	text-align: center;
	float: left;
}

#work .scheme > .cell > .text > span {
	font: 1.2222em Roboto Black;
}

#BR1 {
	background-image: url(cell1.png);
}

#BR2 {
	background-image: url(cell2.png);
}

#BR3 {
	background-image: url(cell3.png);
}

#BR4 {
	background-image: url(cell4.png);
}

#travel {
	height: 1030px;
	width: 100%;
	box-sizing: border-box;
	background-image: url(travelBg.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
}

#travel #offers {
	width: auto;
	margin: auto;
	box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
	#travel #offers {
		width: 1024px;
		margin: auto;
	}
}

#travel .cell {
	width: 170px;
	height: 372px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: 30% top;
	float: left;
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 4px;
	transition: 0.5s;
	padding-top: 55px;
	margin-bottom: 30px;
}

#travel .cell .text {
	font: 12pt Open Sans;
	color: white;
	padding-left: 5px;
}

#travel .cell .text h5 {
	font: 1.75em Open Sans;
}

#travel .cell:hover {
	background-color: yellow;
}

#travel .cost {
	box-sizing: border-box;
	margin-top: 100px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

#travel .cost .oldPrice {
	text-align: left;
	color: white;
	font: 16pt Open Sans;
	text-decoration: line-through;
	float: left;
}

#travel .cost .newPrice {
	text-align: right;
	color: white;
	font: 18pt Open Sans;
	float: right;
	margin-top: -2px;
}

#m1 {
	background-image: url(offer1.png);
}

#m2 {
	background-image: url(offer2.png);
}

#m3 {
	background-image: url(offer3.png);
}

#m4 {
	background-image: url(offer4.png);
}

#m5 {
	background-image: url(offer5.png);
}

#gallery {
	margin-top: 60px;
}

#gallery div#cols {
	width: 1109px;
	margin: 0 auto 0 auto;
	height: 644px;
}

#gallery div.col {
	float: left;
	margin: 0 5px 0 5px;
}

#gallery div.col img {
	margin: 3px 0 3px 0;
	width: 100%;
}

#firstCol {
	width: 100%;
	max-width: 263px;
}

#secondCol {
	width: 100%;
	max-width: 361px;
}

#thirdCol {
	width: 100%;
	max-width: 455px;
}

@media screen and (max-width: 1109px) {
	#gallery div#cols {
		width: 100%;
	}

	#gallery div.col {
		margin: auto;
		float: none;
	}

	#gallery {
		height: 2150px;
	}
}

footer#out {
	background-image: url(footerBG.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding: 65px 20px 0 20px;
	height: 1360px;
	width: 100%;
}

footer#out .say {
	font: 1em Open Sans;
	color: #bcbcbc;
	background-image: url(kvv.png);
	background-repeat: no-repeat;
	background-position: top left;
	box-sizing: border-box;
	padding-top: 40px;
	width: 445px;
	height: 225px;
	float: left;
	margin: 0 20px 0 20px;
	position: relative;
}

footer#out .say img {
	border-radius: 100%;
	display: inline-block;
}

footer#out .say .author {
	font: 0.7777em Open Sans;
	color: #36aeea;
	margin-top: 20px;
}

footer#out span.text {
	display: block;
	margin-top: -45px;
	padding-left: 80px;
	text-align: left;
}

#says {
	width: 930px;
	height: 220px;
	margin: auto;
	padding-bottom: 175px;
}

footer#out form {
	height: 490px;
	width: 100%;
	max-width: 512px;
	background-image: url(contactsBG.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin: auto;
	box-sizing: border-box;
	padding: 30px 0 0 0;
	border-radius: 5px;
}

footer#out .text {
	text-align: center;
}

footer#out .text .top {
	font: 3em Open Sans;
	color: #36aeea;
}

footer#out .text .bottom {
	font: 1em Open Sans;
	color: black;
}

footer#out form input, footer#out form button {
	width: 456px;
	height: 60px;
	border-radius: 5px;
	border: 0;
	display: block;
	margin: 18px auto 0 auto;
	max-width: 90%;
	box-sizing: border-box;
	font: 1.3333em Open Sans;
	padding-left: 20px;
}

footer#out form button {
	background-color: #36aeea;
	color: white;
	font: 1.3333em Open Sans;
	text-align: center;
}

footer footer#in {
	width: 100%;
	max-width: 1140px;
	margin: 200px auto 0 auto;
}

footer footer#in span.left {
	display: block;
	font: 1.3333em Open Sans;
	color: #6e9aa8;
	float: left;
	margin-top: 10px;
} 

footer footer#in span.right {
	display: block;
	float: right;
	font: 1.5em Open Sans;
	color: #6e9aa8;
	margin-top: -30px;
}

footer footer#in div.logos {
	display: block;
	margin: 10px auto 0 auto;
	width: 126px;
	height: 38px;
}

footer footer#in div.logos div {
	margin: 0 3px 0 3px;
}

footer footer#in div.logos :first-child {
	margin: 0 3px 0 0;
}

footer footer#in div.logos :last-child {
	margin: 0 0 0 3px;
}

#twitter {
	background-image: url(twitter.png);
	width: 38px;
	height: 38px;
	float: left;
}

#facebook {
	background-image: url(facebook.png);
	width: 38px;
	height: 38px;
	float: left;
}

#vk {
	background-image: url(vk.png);
	width: 38px;
	height: 38px;
	float: left;
}

@media screen and (max-width: 1020px) {
	#work {
		height: 850px;
	}

	#work .scheme {
		width: 320px;
		margin: auto;
	}

	#work .scheme .cell {
		margin: 0;
		width: 99%;
		height: 160px;
		display: block;
		float: left;
	}

	#work .scheme .cell .topRing {
		padding-top: 8px;
		margin: 0;
		float: left;
		margin-top: 16px;
		margin-right: 35px;
	}

	#work .scheme .cell .bottomRing {
		width: 80px;
		height: 80px;
		background-size: 70%;
		margin: 0;
		float: left;
	}

	#work .scheme .lines {
		background-image: url(lineH.png);
		background-repeat: repeat-x;
		background-position: center center;
		float: left;
	}

	#work .scheme .cell > .text {
		width: 150px;
		display: block;
		margin: 0;
		margin-top: 9px;
		float: left;
	}

	/* #work .horLine {
		width: 2px;
		background-image: url(lineV.png);
		background-repeat: repeat-y;
		position: absolute;
		height: 480px;
		top: 3750px;
		left: 43px;
		margin: auto;
		z-index: -1;
	}
	*/

	#work .horLine {
		width: 2px;
		background-image: url(lineV.png);
		background-repeat: repeat-y;
		position: relative;
		height: 480px;
		left: 25px;
		margin: auto;
		float: left;
		z-index: -1;
	}

	#travel #offers {
		width: 170px;
		height: auto;
	}

	#travel #offers .cell {
		margin-top: 20px;
		margin-left: 0;
	}

	#travel {
		height: 2500px;
	}
}

@media screen and (max-width: 940px) {
	body {
		font-size: 12px;
	}

	header #text1 {
		min-width: 90%;
	}

	header.outside {
		background-position: 60% top;
	}

	#text1 #upText {
		font: 40pt Open Sans;
	}

	#blog img#photoblog1 {
		display: none;
	}

	#blog img#photoblog2 {
		min-width: 200px;
	}

	#text1 #midText {
		font: 35pt Bringin;
		margin-top: -45px;
	}

	#text1 #downText {
		font: 12pt Open Sans;
		margin-top: 0;
	}

	#openMenu {
		width: 42px;
		height: 32px;
		opacity: 1;
		background-image: url(menu.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 2px;
		border: black solid 1px;
		box-shadow: 0px 0px 2px black;
		display: block;
		float: right;
		transition-duration: 0.2s;
		margin-top: -5px;
	}

	#openMenu:focus {
		background-color: #36aeea;
		outline: none;
	}

	#listButton {
		width: 100px;
		display: block;
		float: right;
	}

	nav.inside {
		text-align: center;
	}

	nav.inside .button {
		display: none;
	}

	ul {
		display: none;
		transition-duration: 3s;
	}

	ul:focus {
		outline: none;
	}

	ul.escalated {
		display: block;
		box-shadow: 0px 0px 3px 0 black;
		margin: auto;
		width: 90px;
		border-radius: 2px;
		border: black solid 0px;
		overflow: hidden;
		position: absolute;
		margin-top: 35px;
		margin-left: 9px;
	}

	ul.escalated li {
		border-top: black solid 1px;
		line-height: 5em;
		display: list-item !important;
		float: none;
		padding-right: 1.597%;
		width: 90px;
		background-color: white;
		text-align: center;
		color: black;
	}

	ul.escalated li#firstLI {
		border: 0;
	}

	#journal {
		height: 1445px;
	}

	#ltw {
		width: 90%;
		height: 1140px;
	}

	#ltw .textBlock {
		padding: 0 7px 0 7px;
	}

	#ltw  #pack1, #pack2, #pack3 {
		float: left;
		width: 100% !important;
		height: 380px !important;
	}

	#ltw > #pack3 .packPhoto {
		width: 50%;
		height: 100%;
		float: left;
		background-image: url(journal3mob.jpg);
	}

	#ltw > #pack3 .textBlock { 
		float: right;
		width: 50% !important;
		height: 100% !important;
	}

	#offer input {
		width: 100% !important;
		float: none;
	}

	#offer button {
		height: 40px;
		width: 50%;
		float: none;
		display: block;
		margin: auto;
	}

	#offer .form {
		height: auto;
	}

	#offer input {
	}

	#offer input[type='text'] {
		border-bottom: 1px solid #BBBBBB;
		border-right: 0;
	}

	#says {
		max-width: 200%;
	}

	footer#out .say {
		width: 49%;
		margin: 0;
		padding-right: 20px;
	}

	footer#out .say.second {
		display: none;
	}

	footer footer#in div.logos {
		display: none;
	}

	footer footer#in span.left {
		display: block;
		float: none;
		text-align: center;
	} 

	footer footer#in span.right {
		display: block;
		float: none;
		text-align: center;
		margin: 0;
	}
}

@media screen and (max-width: 380px) {
	#text1 #midText {
		font-size: 32pt;
		line-height: 100%;
		margin-top: -30px;
	}

	#text1 #upText {
		line-height: 100%;
	}
}