html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #383838;
  font-size: 10px; }

a:link {
  color: white; }

a:visited {
  color: white; }

a:active {
  color: grey; }

a:hover {
  color: grey; }

header {
  box-sizing: border-box;
  min-height: 800px;
  height: 100vh;
  min-width: 100%;
  background: url("backgroundHeader.jpg") top center;
  background-size: cover;
  padding-bottom: 45%;
  overflow: hidden;
  position: relative; }
  header .button {
    background: url("menubutton.png") center center no-repeat;
    background-size: 60% 50%;
    width: 51px;
    height: 45px;
    position: fixed;
    right: 5vw;
    padding: 0 5px 0 5px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    top: 10px; }
  header h1, header h2 {
    font-family: "Poiret One", cursive;
    color: #185de7;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
    clear: both;
    margin: 0; }
  header h1 {
    font-size: 5em;
    padding-top: 15px;
    margin-top: 51px; }
  header h2 {
    font-size: 3.7em;
    font-weight: 500; }
  header .persons {
    display: flex;
    justify-content: space-around;
    margin-top: 45px; }
  header .item1, header .item2 {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
    border: solid 2px #185de7;
    background: no-repeat center center;
    background-size: cover; }
    header .item1 .name, header .item2 .name {
      display: block;
      color: white;
      font-family: "Poiret One", cursive;
      font-size: 24px;
      font-weight: 500;
      white-space: nowrap;
      margin-top: 160px;
      text-align: center; }
  header .item1 {
    background-image: url("dogI.jpg"); }
  header .item2 {
    background-image: url("dogG.jpg"); }
    header .item2 .name {
      margin-left: -17px; }
  header .tale {
    box-sizing: border-box;
    position: absolute;
    min-width: 100%;
    height: 100%;
    top: 500px;
    background-color: rgba(0, 27, 82, 0.4);
    color: white;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
    line-height: 1.2;
    padding: 20px;
    text-align: justify; }
    header .tale span {
      display: block;
      margin: auto;
      max-width: 700px; }

.content {
  background-color: #383838; }
  .content h2 {
    color: #35a3f8;
    font-size: 5.5em;
    font-family: "Poiret One", cursive;
    margin-top: 90px;
    text-align: center; }
  .content .swiper-container {
    max-width: 900px;
    width: 100%; }
  .content .preview {
    width: 340px;
    height: 280px;
    background: top center;
    background-size: cover;
    margin: auto; }
  .content .description {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 30px;
    margin-top: 15px;
    text-decoration: underline; }
  .content .contacts h2 {
    margin-bottom: 5px; }
  .content .contacts .contactsTable {
    display: flex;
    max-width: 438px;
    width: 95%;
    border-top: 1px solid #35a3f8;
    margin: auto; }
    .content .contacts .contactsTable .icons {
      width: 125px;
      border-right: 1px solid #35a3f8; }
      .content .contacts .contactsTable .icons div {
        width: 59px;
        height: 51px;
        margin: 17px 15px 17px 15px; }
      .content .contacts .contactsTable .icons .email {
        background: url("icons.png") -59px;
        background-size: 200% 100%; }
      .content .contacts .contactsTable .icons .skype {
        background: url("icons.png") 0 0;
        background-size: 200% 100%; }
    .content .contacts .contactsTable .data {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .content .contacts .contactsTable .data .data-line {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 2.4em;
        margin-left: 20px;
        white-space: normal; }
  .content footer {
    box-sizing: border-box;
    margin-top: 25px;
    padding: 5px 5px 0 0;
    min-width: 100%;
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 2.4em;
    text-align: right;
    background-color: #303030; }

.menu {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  justify-content: space-around; }

.menuElement {
  color: white;
  font-family: "Poiret One", cursive;
  font-size: 4em;
  text-align: center; }

.hider {
  display: flex;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-bottom: 20vh;
  background: transparent;
  transition: background 0.2s;
  z-index: 2; }

@media only screen and (min-width: 768px) {
  .content .preview {
    width: 80%;
    max-width: 800px;
    height: 500px; }

  body {
    font-size: 12px; } }
@media only screen and (min-width: 1000px) {
  .content .preview {
    width: 95%; }

  body {
    font-size: 14px; } }
@media only screen and (max-width: 370px) {
  body {
    font-size: 8px; }
    body header .persons .item1, body header .persons .item2 {
      width: 130px;
      height: 130px; }
    body header .persons .name {
      font-size: 18px;
      font-weight: 500;
      margin-top: 140px;
      text-align: center; }
    body header .persons .item2 .name {
      margin-left: -8px; } }
@media only screen and (max-width: 312px) {
  body {
    font-size: 6px; } }
@media only screen and (min-width: 1190px) {
  header .persons {
    margin: 45px auto 0 auto;
    width: 60%; }
    header .persons .item1, header .persons .item2 {
      width: 180px;
      height: 180px; }
    header .persons .name {
      margin-top: 190px;
      text-align: center; }
    header .persons .item2 .name {
      margin-left: -3px; } }

/*# sourceMappingURL=style.css.map */
